<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beautique PH</title>
    {% include 'header_links.html' %}
</head>
<body>
    {% include 'nav-admin.html' %}
    <div class="container d-flex flex-row">
        {% include 'header.html' %}
        <div class="container body-color">
            <div class="row">
                <h4>Store Sales</h4> <!-- Updated title -->
                <div class="row">
                    <div class="col-12 col-md-6">
                        <input type="text" class="form-control-sm form-control" id="searchStoreSales" placeholder="Search sales...">
                    </div>
                </div>
                <div class="row mt-3">
                    <div style="overflow-x: auto; width: 100%">
                        <table class="table" style="font-size: 12px; width: 200%;">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Order Date</th>
                                    <th scope="col">Subtotal</th>
                                    <th scope="col">VAT</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Customer ID</th>
                                    <th scope="col">Customer Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Address</th>
                                </tr>
                            </thead>
                            <tbody id="storeSalesTable">
                                <!-- Store sales rows will be dynamically inserted here -->
                            </tbody>
                        </table>
                    </div>
                </div>
            
                <nav aria-label="Store Sales pagination"> <!-- Updated aria-label -->
                    <ul class="pagination pagination-sm mt-3" id="paginationStoreSalesControls">
                        <li class="page-item page-pink"><a class="page-link" href="#" id="prevStoreSalesPage">Previous</a></li>
                        <!-- Page numbers will be dynamically inserted here -->
                        <li class="page-item page-pink"><a class="page-link" href="#" id="nextStoreSalesPage">Next</a></li>
                    </ul>
                </nav>
            </div>            
        </div>
    </div>
    {% include 'footer_links.html' %}
</body>
</html>
