<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beautique PH</title>
    {% include 'header_links.html' %}
</head>
<body>
    {% include 'nav-admin.html' %}
    <div class="container d-flex flex-row">
        {% include 'header.html' %}
        <div class="container body-color">
            
            <div id="viewStudentRecord">
            </div>
            <div class="row">
                <h4 >Categories</h4>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <input type="text" class="form-control-sm form-control" placeholder=" Search">
                    </div>
                    <div class="col-12 col-md-6">
                        <button class="btn btn-sm border btn-pink" data-bs-toggle="modal" data-bs-target="#addCategories"><i class="bi bi-bookmark-plus"></i> Add Categories</button>
                    </div>
                </div>
                <div class="row p-4">
                    <table class="table" style="font-size: 12px;">
                        <thead>
                          <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Date</th>
                            <th scope="col">Category Name</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <!-- <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                          </tr>
                        </tbody> -->
                      </table>
                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-sm">
                        <li class="page-item page-pink"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item page-pink"><a class="page-link" href="#">1</a></li>
                        <li class="page-item page-pink"><a class="page-link" href="#">2</a></li>
                        <li class="page-item page-pink"><a class="page-link" href="#">3</a></li>
                        <li class="page-item page-pink"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        
    </div>
    {% include 'footer_links.html' %}
</body>
</html>



<div class="modal fade" id="addCategories" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Category</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="addCategorySuccess" class="alert alert-sm alert-success" style="display: none;" role="alert">
          Added new category success!
        </div>
        <input id="addCategoryName" type="text" class="form-control-sm form-control" placeholder="Enter the name of the categories">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark btn-sm" data-bs-dismiss="modal">Close</button>
        <button disabled id="insertCategory" onclick="insertCategory()" type="button" class="btn btn-pink btn-sm"><i class="bi bi-bookmark-plus"></i> Add</button>
      </div>
    </div>
  </div>
</div>