<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beatique PH</title>
    {% include 'header_links.html' %}
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4"></div>
            <div class="col-12 col-md-4 ">
                    <img src="../static/img/beatique_logo.jpg" class="rounded-bottom-5" alt="" style="width: 100%; height:250px">
                    <h5 class="fw-bolder mb-4 mt-4 text-center">Welcome beautique customer</h5>
                    <div class="alert login-customer-failed alert-danger" role="alert" style="display: none;">
                        Please enter correct username or password
                    </div>
                    <form id="loginForm">
                        <input type="text" class="form-control w-100 mb-2" placeholder="Enter your username" id="customerEmail" name="customerEmail" autocomplete="username">
                        <div class="input-group border rounded ps-2 mb-3 d-flex flex-row">
                            <input type="password" class=" w-100 mb-2" placeholder="Enter your password" id="customerPassword" name="customerPassword" autocomplete="current-password">
                            <button class="btn" type="button" id="button-addon2" onclick="togglePasswordVisibility()">Show</button>
                        </div>
                        
                        <button type="button" class="btn w-100 mb-2 btn-pink" id="customerLoginBtn">
                            <p class="customer-login-text m-0">Login</p>
                            <div class="customer-login-load spinner-grow spinner-grow-sm m-1" style="display: none;" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </button>
                        <a href="/customer_register" type="button" class="btn w-100" style="color: #CF2977; border: 1px solid #CF2977" >
                            <p class=" m-0">Don't have account</p>
                        </a>
                        <!-- <a href="/admin-login" type="button" class="btn mt-2 w-100" style="color: #CF2977; border: 1px solid #CF2977" >
                            <p class=" m-0">Admin Login</p>
                        </a> -->
                    </form>
            </div>
            <div class="col-12 col-md-4"></div>
        </div>

    </div>
    {% include 'footer_links.html' %}
</body>
</html>