<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beatique PH</title>
    {% include 'header_links.html' %}
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4"></div>
            <div class="col-12 col-md-4" style="margin-top: 120px;">
                    <div class="text-center">
                        <img style="width: 70%;" src="../static/img/register_success.svg" alt="">
                    </div>
                    <div class="text-center mb-3 mt-5">
                        <h3 class="fw-bolder bounce">Congratulation <br> You created an account!</h3>
                        <a href="/" class="btn btn-pink w-100 mt-3">Login Now</a>
                    </div>
            </div>
            <div class="col-12 col-md-4"></div>
        </div>

    </div>
    {% include 'footer_links.html' %}
</body>
</html>