<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beatique PH</title>
    {% include 'header_links.html' %}
</head>
<body>

    {% include 'nav.html' %}
    <div class="container">
        <div class="row mt-3">
            <h3 class="mt-2" id="saearchResult">Search Results</h3>
            <div class="col-12">
                <div class="row g-2" id="productListSearch">
                    
                </div>
            </div>
        </div>
        </div>

    </div>
    {% include 'footer_links.html' %}
</body>
</html>