
<div style="width: 20%; position: -webkit-sticky; position: sticky; top: 50px;" class="nav-admin nav-color">
    <div style="position: fixed; width: 200px">
        <a class="btn w-100 text-start" href="/admin-dashboard">
            <i class="bi me-3 bi-speedometer2"></i> Dashboards
        </a>
        <a class="btn w-100 text-start" href="/admin-product">
            <i class="bi me-3 bi-basket"></i> Products
        </a>
        <a class="btn w-100 text-start" href="/admin-category">
            <i class="bi me-3 bi-repeat"></i> Category
        </a>
        <a class="btn w-100 text-start" href="/admin-sales">
            <i class="bi me-3 bi-piggy-bank"></i> Store Sales
        </a>
    
        <a class="btn w-100 text-start" href="/admin-shopee">
            <img src="../static/img/shopee.svg" style="width: 20px; margin: 0px; opacity: 80%; margin-right: 12px" alt=""> Shopee Sales
        </a>
        <a class="btn w-100 text-start" href="/admin-inventory">
            <i class="bi me-3 bi-calendar3"></i> Inventory
        </a>
    
        <a class="btn w-100 text-start" href="/admin-accounts">
            <i class="bi me-3 bi-person-arms-up"></i> Admin
        </a>
        <a class="btn w-100 text-start" href="/admin-accounts">
            <i class="bi me-3 bi-people-fill"></i> Customers 
        </a>
        <a class="btn w-100 text-start" href="/logout">
            <i class="bi me-3 bi-power"></i> Logout
        </a>
    </div>
</div>