<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beatique PH</title>
    {% include 'header_links.html' %}
</head>
<body>

    {% include 'home_nav.html' %}
    <div class="container">
        <div class="row mt-5">
            <div style="width: 100%; height: 300px; position: relative;" class="rounded-3">
                <img 
                    class="rounded-3"
                    style="width: 100%; height: 100%; object-fit: cover; object-position: bottom;" 
                    src="../static/img/background.png" 
                    alt="">
            </div>
            
        </div>
        <div class="row mt-5">
                <div class="col-12 mt-1" style="background: white; top: 30px;">
                    <div class="d-flex flex-row">
                        <div id="categoryLanding">
                        </div>
                    </div>
                </div>
                <h3 class="mt-2">Popular Products</h3>
                <div class="col-12">
                    <div class="row g-2" id="productListPopular">
                        <!-- Products will be loaded here -->
                    </div>
                </div>
                <h3 class="mt-2" id="categoryHeader">All Category</h3>
                <div class="col-12">
                        <div class="row g-2" id="productList">
                            <!-- First Product -->
                            <div class="col-6 col-md-3">
                                <div class="p-3">
                                    <div style="position: relative;">
                                        <div style="width: 100%; height: 200px;">
                                            <img style="object-fit: cover; width: 100%; height: 100%;" src="../static/img/product-1.jpg" alt="">
                                            <button style="position: absolute; right: 10px; bottom: 10px;" class="btn border btn-pink rounded-5">
                                                <i class="bi bi-cart-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <p class="mb-0">Brick by Brick Hoodie (Black)</p>
                                    <h6 class="fw-bolder mt-0">₱ 1,800.00 PHP</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    {% include 'footer_links.html' %}
</body>
</html>